.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-top: 64px;
}

@media (max-width: 600px) {
  .main-content {
    margin-top: 56px;
  }
}
